<div class="jumbotron" >
  <div class="text-center"><h1 class="display-4">About me!</h1></div>
  <div class="text-center"><p class="lead"><%= @about_me%></p></div>
  <hr class="my-4">
  <div class="text-center"><p>Thank you</p></div>
</div>

